name: Workflow Principal

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Versão ubuntu
        run: lsb_release -a
      
      - name: Versão node
        run: node --version
    
